# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

建立資料方法一

In [66]:
pop = np.random.randint(900,1000000,4)

data = {'國家': ['USA','UK','TW','FR'] ,
        '人口': pop}

frame = pd.DataFrame(data)
#呼叫pd.DataFrame使其成為表格結構

print(frame)
frame

    國家      人口
0  USA  919081
1   UK  647703
2   TW  560366
3   FR  190701

    國家      人口
0  USA  919081
1   UK  647703
2   TW  560366
3   FR  190701

建立資料方法二

In [40]:
cities = ['USA','UK','TW','FR']
visitors = pop

list_lebel = ['國家','人口']
list_col = [cities,visitors]

zipped = list(zip(list_lebel,list_col))
#list(zip())是把兩組資料包在一起,同序號的在一組，原本的組被分配出去(出來的資料如下)
# [('國家', ['USA', 'UK', 'TW', 'FR']),
#  ('人口', array([313937, 897674, 264717, 835168]))]

frame2 = pd.DataFrame(dict(zipped))
#dict使資料的第一組成為lebel，後面的資料成為col (製作字典)

print(frame2)
frame2

    國家      人口
0  USA  492759
1   UK  183620
2   TW  387025
3   FR  756291

    國家      人口
0  USA  492759
1   UK  183620
2   TW  387025
3   FR  756291

求max不會Q_Q